.layout {
  background: #fafafe;

  h3.section-title {
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: -0.3px;
    color: #59626a;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
  }
}